.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
bootstrap/cache/*.php
database/database.sqlite
tests
infra
docs
.phpunit.cache
compose.yaml
Dockerfile
